# Backend API
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
PRIVATE_KEY=e41685ecc109009057ad4c31a9598bc309c4cc396bbff402319234035e54a5ca
# Arc Network
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_CHAIN_ID=5042002

# Contract Addresses (from deployment)
NEXT_PUBLIC_ARC_ROUTER_ADDRESS=
NEXT_PUBLIC_ARC_FACTORY_ADDRESS=
NEXT_PUBLIC_ARC_USDC_ADDRESS=
NEXT_PUBLIC_ARC_EURC_ADDRESS=

# Circle API Keys (optional - demo mode if not provided)
NEXT_PUBLIC_CIRCLE_WALLETS_APP_ID=
NEXT_PUBLIC_CIRCLE_API_KEY=

